#login,
#loggedin {
   display: none;
}
.text-overflow {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 800px;
}
body{
    display: flex;
    justify-content: center;
}